.jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
}

body {
    font-family: "JetBrains Mono", monospace;

}

h1 {
    font-weight: bold;
}

.category-btn {
    font-family: "JetBrains Mono", monospace;

}

